<!-- Footer -->
<footer>
  <div id="contact" class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>{{ site.owner }}</strong>
        </h4>
        <p>
          {% for address in site.address %}
          {{ address.line }}<br>
          {% endfor %}
        </p>
        <br>
        <ul class="list-inline">
          <li>
            <a href="https://za.linkedin.com/in/{{ site.linkedin_name }}"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://plus.google.com/118267615282589670413/posts"><i class="fa fa-google-plus fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://github.com/{{ site.github_name }}"><i class="fa fa-github fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://www.flickr.com/photos/126344785@N08/"><i class="fa fa-flickr fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
      </div>
    </div>
  </div>
</footer>
