<!-- Resume Section -->
<section id="resume" class="resume-section section-padding">
    <div class="container">

        <div class="row" id="experience">
            <div class="col-md-12">
                <div class="resume-title">
                    <h2 class="section-title wow fadeInUp">Experience</h2>
                </div>
                <div class="resume">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="posted-date">
                              <span class="month">April.2015-Present</span>
                            </div><!-- /posted-date -->
                            <div class="timeline-panel wow fadeInUp">
                                <div class="timeline-content">
                                    <div class="timeline-heading">
                                        <h3>Business Intelligence Engineer</h3>
                                        <span>University Of The Witwatersrand, Johannesburg</span>
                                    </div><!-- /timeline-heading -->
                                    <div class="timeline-body">
                                        <p>...</p>
                                    </div><!-- /timeline-body -->
                                </div> <!-- /timeline-content -->
                            </div> <!-- /timeline-panel -->
                        </li>

                        <li>
                            <div class="posted-date">
                              <span class="month">November.2014-April.2015</span>
                            </div><!-- /posted-date -->
                            <div class="timeline-panel wow fadeInUp">
                                <div class="timeline-content">
                                    <div class="timeline-heading">
                                        <h3>Software Developer</h3>
                                        <span>Infoware Studios, Midrand</span>
                                    </div><!-- /timeline-heading -->

                                    <div class="timeline-body">
                                        <p>...</p>
                                    </div><!-- /timeline-body -->
                                </div> <!-- /timeline-content -->
                            </div><!-- /timeline-panel -->
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /row -->

        <div class="row">
            <div class="col-md-12" id="education">
                <div class="resume-title">
                    <h2 class="section-title wow fadeInUp">Education</h2>
                </div>
                <div class="resume">
                    <ul class="timeline">
                        <li>
                            <div class="posted-date">
                                <span class="month">2015-Present</span>
                            </div><!-- /posted-date -->
                            <div class="timeline-panel wow fadeInUp">
                                <div class="timeline-content">
                                    <div class="timeline-heading">
                                        <h3>Masters of Science in Engineering (Electrical)</h3>
                                        <span>University Of The Witwatersrand, Johannesburg</span>
                                    </div><!-- /timeline-heading -->

                                    <div class="timeline-body">
                                        <p>...</p>
                                    </div><!-- /timeline-body -->
                                </div> <!-- /timeline-content -->
                            </div><!-- /timeline-panel -->
                        </li>

                        <li class="timeline-inverted">
                            <div class="posted-date">
                                <span class="month">2009-2014</span>
                            </div><!-- /posted-date -->

                            <div class="timeline-panel wow fadeInUp">
                                <div class="timeline-content">
                                    <div class="timeline-heading">
                                        <h3>Bachelor of Science in Engineering (Electrical)</h3>
                                        <span>University Of The Witwatersrand, Johannesburg</span>
                                    </div><!-- /timeline-heading -->

                                    <div class="timeline-body">
                                        <p>...</p>
                                    </div><!-- /timeline-body -->
                                </div> <!-- /timeline-content -->
                            </div> <!-- /timeline-panel -->
                        </li>

                        <li>
                            <div class="posted-date">
                              <span class="month">2013</span>
                            </div><!-- /posted-date -->
                            <div class="timeline-panel wow fadeInUp">
                                <div class="timeline-content">
                                    <div class="timeline-heading">
                                        <h3>Entrepreneurship Bootcamp</h3>
                                        <span>Massachusetts Institute of Technology - Global Startup Labs, Johannesburg</span>
                                    </div><!-- /timeline-heading -->

                                    <div class="timeline-body">
                                        <p>...</p>
                                    </div><!-- /timeline-body -->
                                </div> <!-- /timeline-content -->
                            </div><!-- /timeline-panel -->
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /row -->
        
    </div><!-- /.container -->
</section><!-- End Resume Section -->