<!-- Resume Section -->
<section id="resume" class="resume-section section-padding">
    <div class="container">

        <div class="row" id="experience">
            <div class="col-md-12">
                <div class="resume-title">
                    <h2 class="section-title wow fadeInUp">Experience</h2>
                </div>
                <div class="resume">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="posted-date">
                              <span class="month">2011-2013</span>
                            </div><!-- /posted-date -->

                            <div class="timeline-panel wow fadeInUp">
                                <div class="timeline-content">
                                    <div class="timeline-heading">
                                        <h3>Junior ui designer</h3>
                                        <span>XYZ Design Home, One Street, Boston</span>
                                    </div><!-- /timeline-heading -->

                                    <div class="timeline-body">
                                        <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
                                    </div><!-- /timeline-body -->
                                </div> <!-- /timeline-content -->
                            </div> <!-- /timeline-panel -->
                        </li>

                        <li>
                            <div class="posted-date">
                              <span class="month">2013-2015</span>
                            </div><!-- /posted-date -->

                            <div class="timeline-panel wow fadeInUp">
                                <div class="timeline-content">
                                    <div class="timeline-heading">
                                        <h3>Lead UX Consultant</h3>
                                        <span>Lucky8 Designing Firm, California</span>
                                    </div><!-- /timeline-heading -->

                                    <div class="timeline-body">
                                        <p>Completely provide access to seamless manufactured products before functionalized synergy. Progressively redefine competitive.</p>
                                    </div><!-- /timeline-body -->
                                </div> <!-- /timeline-content -->
                            </div><!-- /timeline-panel -->
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /row -->

        <div class="row">
            <div class="col-md-12" id="education">
                <div class="resume-title">
                    <h2 class="section-title wow fadeInUp">Education</h2>
                </div>
                <div class="resume">
                    <ul class="timeline">
                        <li>
                            <div class="posted-date">
                                <span class="month">2007-2011</span>
                            </div><!-- /posted-date -->

                            <div class="timeline-panel wow fadeInUp">
                                <div class="timeline-content">
                                    <div class="timeline-heading">
                                        <h3>Bachelor degree certificate</h3>
                                        <span>BA(Hons) in UI Engineering, Arts University, Pabna, USA</span>
                                    </div><!-- /timeline-heading -->

                                    <div class="timeline-body">
                                        <p>I have completed UI Engineering degree from ABC University, Boston, USA at feel the charm of existence in this spot, which was creat.</p>
                                    </div><!-- /timeline-body -->
                                </div> <!-- /timeline-content -->
                            </div><!-- /timeline-panel -->
                        </li>

                        <li class="timeline-inverted">
                            <div class="posted-date">
                                <span class="month">2004-2006</span>
                            </div><!-- /posted-date -->

                            <div class="timeline-panel wow fadeInUp">
                                <div class="timeline-content">
                                    <div class="timeline-heading">
                                        <h3>Higher Secondary certificate</h3>
                                        <span>Typography Arts, FA College, New York, USA</span>
                                    </div><!-- /timeline-heading -->

                                    <div class="timeline-body">
                                        <p>From this college of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend.</p>
                                    </div><!-- /timeline-body -->
                                </div> <!-- /timeline-content -->
                            </div> <!-- /timeline-panel -->
                        </li>

                        <li>
                            <div class="posted-date">
                              <span class="month">2000-2003</span>
                            </div><!-- /posted-date -->

                            <div class="timeline-panel wow fadeInUp">
                                <div class="timeline-content">
                                    <div class="timeline-heading">
                                        <h3>Secondary school certificate</h3>
                                        <span>Creative Arts, Julius Jr. school, USA</span>
                                    </div><!-- /timeline-heading -->

                                    <div class="timeline-body">
                                        <p>I was awesome at arts, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy.</p>
                                    </div><!-- /timeline-body -->
                                </div> <!-- /timeline-content -->
                            </div><!-- /timeline-panel -->
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /row -->
        
    </div><!-- /.container -->
</section><!-- End Resume Section -->